/legacy/
legacy/booking_manager.py
legacy/config.py
legacy/database.db
legacy/local_types.py
legacy/database.py
/legacy
legacy/place_manager.py
legacy/user_manager.py
Новая папка/SoftEther VPN Client/vpn_client.config
Новая папка/SoftEther VPN Client/vpnclient.exe
Новая папка/SoftEther VPN Client/vpnclient_x64.exe
Новая папка/SoftEther VPN Client/vpncmd.exe
Новая папка/SoftEther VPN Client/vpncmd_x64.exe
Новая папка/SoftEther VPN Client/vpncmgr.exe
Новая папка/SoftEther VPN Client/vpncmgr_x64.exe
Новая папка/SoftEther VPN Client/VPNGate.dat
Новая папка/SoftEther VPN Client/VPNGate.db
Новая папка/SoftEther VPN Client/VpnGatePlugin_x64.dll
Новая папка/SoftEther VPN Client/VpnGatePlugin_x86.dll
Новая папка/SoftEther VPN Client/vpninstall.exe
Новая папка/SoftEther VPN Client/vpnsetup.exe
Новая папка/SoftEther VPN Client/vpnsetup_x64.exe
Новая папка/SoftEther VPN Client/vpnweb.cab
Новая папка/vpngate-client-v4.43-9799-beta-2023.08.31.exe
Новая папка/VPNGate.dat
Новая папка/VPNGate.db
Новая папка/VpnGatePlugin_x64.dll
Новая папка/VpnGatePlugin_x86.dll
ngrok.exe
Новая папка/License.txt
Новая папка/SoftEther VPN Client/backup.vpn_client.config/2025041310_vpn_client.config
Новая папка/SoftEther VPN Client/backup.vpn_client.config/readme.txt
Новая папка/SoftEther VPN Client/client_log/client_20250413.log
Новая папка/SoftEther VPN Client/hamcore.se2
Новая папка/SoftEther VPN Client/installer.cache
Новая папка/SoftEther VPN Client/lang.config
Новая папка/SoftEther VPN Client/setuplog.dat
Новая папка/xmlrpc.config
